@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #cecece;
  margin-bottom: 1rem;
}

.user-table th,
.user-table td {
  text-align: left;
  padding: 8px;
  border: 1px solid #cecece;
}
@media (max-width: 768px) {
  .user-table th,
  .user-table td {
    font-size: 0.9rem;
  }
}

.user-table th {
  background-color: #e4e4e7;
  color: #18181b;
  text-align: center;
}

.btn {
  background-color: #94a3b8;
  color: #fafafa;
  padding: 2px 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  /* font-size: 1rem; */
  font-weight: bold;
  border-radius: 0.5rem;
}
